#This file provides a list of servers to monitor. The
#HW monitoring service will poll the alerts of these nodes and forward it to the specified plugin below. 
#If push notifications are supported they will be automatically used. 

#----Current Nodes
[nodes]
#node# = bmchostname				   Hostname               AccessType	
#node0 = {"bmcHostname": "9006-bmc.mywebspace.com, "xcatNodeName": "my9006", "accessType":"ipmi"}
#node1 = {"bmcHostname": "cn08-bmc", "xcatNodeName": "cn08", "accessType":"openbmcRest"}


[base_configuration]
#the maximum number of worker threads to use. 
maxThreads = 1

[notify]
#Plugins to enable for notification
CSM=True
CSMfunction=notifyCSM
mmhealth=True
mmhealthfunction=notifymmhealth
bds=False
bdsfunction=notifymmhealth

