#This file provides a list of servers to monitor. The
#HW monitoring service will poll the alerts of these nodes and forward it to the specified plugin below. 
#If push notifications are supported they will be automatically used. 

#----Current Nodes
[nodes]
#username and password arguments are optional and an example is shown
#When username and password are omitted, factory defaults are used
#the order of each of the comma separated pairs is not important
#node# = bmchostname									Hostname               AccessType	
#node1 = {"bmcHostname": "mybmchostname.mydomain.com", "xcatNodeName": "mynodename", "accessType":"ipmi"}
#node1 = {"bmcHostname": "mybmchostname.mydomain.com", "xcatNodeName": "mynodename", "accessType":"openbmcRest", "username":"root", "password":"0penBmc"}


[base_configuration]
#the maximum number of worker threads to use. 
maxThreads = 1

[notify]
#Plugins to enable for notification
CSM=True
CSMfunction=notifyCSM
ESS=True
ESSfunction=notifymmhealth
bds=False
bdsfunction=notifyBDS

[csm]
#Setup the IP and port for CSM restd service
host=127.0.0.1
port=4213
