#This file provides a list of servers to monitor. The
#ibm-crassd service will poll the alerts of these nodes and forward it to the specified plugin below. 
#If push notifications are supported by the bmc they will be automatically used. 

#----Current Nodes
[nodes]
#username and password arguments are optional and an example is shown
#When username and password are omitted, factory defaults are used
#the order of each of the comma separated pairs is not important
#node# = bmchostname									Hostname               AccessType	
#node1 = {"bmcHostname": "mybmchostname.mydomain.com", "xcatNodeName": "mynodename", "accessType":"ipmi"}
#node2 = {"bmcHostname": "mybmchostname.mydomain.com", "xcatNodeName": "mynodename", "accessType":"openbmcRest", "username":"root", "password":"0penBmc"}

[base_configuration]
#the maximum number of worker threads to use for processing alerts 
maxThreads = 1
enableTelemetry = False
telemetryPort = 53322
enableDebugMsgs = False
uuid=''

[telemetry_configuration]
#nodesPerGathererProcess is used to tune the telemetry server to run 
#efficiently on the system. If you start experiencing long delays between
#the BMC LastUpdateReceived property in the node stream and increasing memory
# usage, this variable needs lowered for your system.
nodesPerGathererProcess = 10

[notify]
#Plugins to enable for notification
CSM=True
CSMfunction=notifyCSM
ESS=False
ESSfunction=notifymmhealth
logstash=False
logstashfunction=notifyLogstash

[csm]
#Setup the IP and port for CSM restd service
host=127.0.0.1
port=4213

[logstash]
#setup the IP and port for the Logstash Instance
host=127.0.0.1
port=10522

[esa]
host=127.0.0.1
port=5024

#Daily notifications
#This enables a daily email summary about open problem tickets
dailyNotify=True
email=me@example.com

#Error Data collection
#Use CSM node states to restrict when data is collected
CSMstateMinder=False

#Enable automated collection of service data
autoCollection=True

#Data Collection script
#Set this to default, or specify the full path to the script to run.
#Keep in mind this will be run as root when ibm-crassd is being run as a service
#For example /path/to/mycollectionscript.sh
collectionScript=default
#This is a list of the script options to use
#ForExample scriptOptionList=['-U', '-P', '-H', '-f /tmp']
scriptOptionList=[]
#this specifies the values to use from the node properties for the above options
#for hardcoded option values like the above example, use an empty string
#for example: scriptOptionValues=['username', 'password', 'bmcHostname', '']
scriptOptionValues=[]

#Enable data reviews of collected information
#If this is set to False, collected data will be automatically sent to IBM
dataReview=True


[lastReports]
fileLoc=/opt/ibm/ras/etc

[analysis]
#setup analysis script functionality
#clear option will automatically delete log entries, and not report the upstream to various plugins
#filter option will not report log entries upstream to the various plugins
#disable will completely disable the analysis script
FQPSPAA0001M=clear
FQPSPPW0034M=filter