#This file provides a list of servers to monitor. The
#HW monitoring service will poll the alerts of these nodes and forward it to the specified plugin below. 
#If push notifications are supported they will be automatically used. 

#----Current Nodes
[nodes]
#node# = bmchostname										Hostname               AccessType	
#node1 = {"bmcHostname": "xcat2-bmc.aus.stglabs.ibm.com", "xcatNodeName": "xcat2", "accessType":"ipmi"}
node2 = {"bmcHostname": "wsp001.aus.stglabs.ibm.com", "xcatNodeName": "wsp001", "accessType":"openbmcRest"}
node3 = {"bmcHostname": "wsp007.aus.stglabs.ibm.com", "xcatNodeName": "wsp007", "accessType":"openbmcRest"}



[base_configuration]
#the maximum number of worker threads to use. 
maxThreads = 1

[notify]
#Plugins to enable for notification
CSM=True
CSMfunction=notifyCSM
ESS=True
ESSfunction=notifymmhealth
bds=False
bdsfunction=notifyBDS

