***ibmpowerhwmon.service***
[Unit]
Description=HW Monitoring service for IBM POWER LC servers
After=multi-user.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/ibm/ras/ibmpowerhwmon.py
WorkingDirectory=/etc/systemd/system
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
