#This file provides a list of servers to monitor and their last known status. The
#HW monitoring service will poll the status of these nodes again, along with querying
#CSM to find out all of the nodes it is responsible for. 

#----Current Nodes
[nodes]
#node# = bmchostname										Hostname               AccessType	Last Status	Last Entry Time, last entry list if >1
#node1 = {"bmcHostname": "xcat2-bmc.aus.stglabs.ibm.com", "xcatNodeName": "xcat2", "accessType":"ipmi", "status":"OK", "lastLogTime":"0", "dupTimeIDList":"[]" }
node2 = {"bmcHostname": "wsp001.aus.stglabs.ibm.com", "xcatNodeName": "wsp001", "accessType":"openbmcRest", "status":"OK", "lastLogTime":"0", "dupTimeIDList":"[]"}
node3 = {"bmcHostname": "wsp007.aus.stglabs.ibm.com", "xcatNodeName": "wsp007", "accessType":"openbmcRest", "status":"OK", "lastLogTime":"0", "dupTimeIDList":"[]"}



[base_configuration]
maxThreads = 1

[notify]
#Plugins to enable for notification
CSM=True
CSMfunction=notifyCSM
mmhealth=True
mmhealthfunction=notifymmhealth
bds=False
bdsfunction=notifymmhealth

#python modules to import
[enabled notify Plugins]
