#This file provides a list of servers to monitor and their last known status. The
#HW monitoring service will poll the status of these nodes again, along with querying
#CSM to find out all of the nodes it is responsible for. 

#----Current Nodes
[nodes]
#node# = bmchostname						AccessType	Last Status	Last Entry Time
node1 = {"bmcHostname": "xcat2-bmc.aus.stglabs.ibm.com", "accessType":"ipmi", "status":"OK", "lastLogTime":"0"}
#node2 = {"bmcHostname": "grsfp23.aus.stglabs.ibm.com", "accessType":"openbmcRest", "status":"OK", "lastLogTime":"1501499933810"}